:root {
  --orange: #e59f83;
  --gray: #ccdddd;
  --blue: #232543;
  overflow-x: hidden;
}
@media (max-width: 1199.98px) {
  .greeting {
    font-size: 35px;
    line-height: 35px;
    margin-top: 15% !important;
    margin-left: 15%;
  }
  h2 {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    margin-top: 50px !important;
  }

  #light-mode {
    position: absolute;
    top: -3%;
    right: 0%;
  }
  .search-row {
    margin-top: 30% !important;
  }
}
@media (min-width: 765px) and (max-width: 1201px) {
  #light-mode {
    position: absolute;
    top: -9%;
    right: -6%;
  }
  .greeting {
    margin-top: 20% !important;
    margin-left: 20%;
  }
}
@media (max-width: 768px) and (min-width: 0px) {
  #github {
    bottom: -100% !important;
  }
  .greeting {
    margin-top: 10% !important;
    margin-left: 0% !important;
    text-align: center;
  }
  h3 {
    margin-left: 0 !important;
    text-align: center;
    padding: 0;
  }
}

body {
  background-color: var(--blue) !important;
  font-family: "Inter";
  font-style: normal;
}

.greeting {
  font-weight: 400;
  line-height: 48px;
  color: var(--orange);
  margin-top: 15%;
  margin-left: 15%;
}
.bold {
  font-weight: 700;
}

#weekday {
  font-weight: 500;
}
#weekday-greet {
  margin-left: 15%;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  letter-spacing: 0.02em;
  line-height: 48px;
}
h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: var(--orange) !important;
  letter-spacing: 0.05em;
  margin-top: 50px !important;
}

h3 {
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  color: var(--gray) !important;
  letter-spacing: 0.05em;
}
#current-day {
  font-weight: 300;
}

.today {
  text-align: center;
}
.today-icon {
  display: block;
  margin: 4rem auto;
  margin-top: 6.5rem;
}
.current-temp {
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: var(--orange);
}
.light {
  font-weight: lighter;
}
#current-weather {
  margin: -15px;
}
.max-temp {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--orange);
}

#moreinfo {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray);
}
.orange {
  color: var(--orange) !important;
}

.grey {
  color: var(--gray) !important;
}
.label {
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: center;
}
#top-info {
  margin-bottom: -10px;
}
.light-switch {
  text-align: right;
}

#light-mode {
  margin-top: 100px;
  margin-right: 70px;
}
#light-mode:hover {
  filter: brightness(0) saturate(100%) invert(97%) sepia(7%) saturate(377%)
    hue-rotate(126deg) brightness(90%) contrast(91%);
  cursor: pointer !important;
}

.search {
  width: 100%;
  background: transparent;
  border: 2px solid var(--gray);
  border-radius: 4px;
  max-height: 58px;
}
.search-row {
  margin-top: 15%;
}
::placeholder {
  font-weight: 200;
  font-size: 20px;
  line-height: 29px;
  color: rgba(203, 221, 221, 0.8);
}

input {
  padding: 15px;
}
input[type="text"] {
  color: var(--gray);
}

#change-city {
  background: transparent;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 2px solid var(--gray);
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  color: var(--gray);
  height: 58px;
  background-color: transparent;
}
#change-city:hover {
  color: var(--blue);
  background-color: var(--gray);
  border: 0px;
}
.weather-icons {
  margin-top: 40px !important;
  display: flex;
  justify-content: center;
}
#weekdays1 {
  margin-top: 20px;
}
.weekdays {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--gray) !important;
}

.weektemp {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--orange);
  margin-top: -18px !important;
}
#farenheit,
#celcius {
  color: var(--orange);
  font-weight: 200;
  cursor: pointer;
  font-size: 0.3em;
  vertical-align: top;
}
#division {
  color: #806256;
  font-weight: 200;
  font-size: 0.3em;
  vertical-align: top;
}
#currentgeo {
  margin-top: 5px;
}
#current-location {
  color: var(--orange);
  padding-bottom: 1.5px;
  border-bottom: 1.2px solid;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}
#github {
  text-decoration: none;
  color: var(--gray);
  font-weight: 200;
  font-size: 1em;
  position: absolute;
  right: 5%;
  bottom: 2%;
}
#github:hover {
  color: var(--orange);
}
